global-exclude *.pyc
include README.rst
include LICENSE
recursive-include src/flask_admin_subview *.py
recursive-include src/flask_admin_subview/static *
recursive-include src/flask_admin_subview/templates *
