{% macro delete_row(action, row_id, row) %}
    <form class="icon" method="POST" action="{{ get_url('.delete_view') }}">
        {{ delete_form.id(value=get_pk_value(row)) }}
        {{ delete_form.url(value=return_url) }}
        {% if delete_form.csrf_token %}
            {{ delete_form.csrf_token }}
        {% elif csrf_token %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}
        <button onclick="return safeConfirm('{{ _gettext('Are you sure you want to delete this record?') }}') && Subview.postForm(this);"
                title="Delete record">
            <span class="fa fa-trash glyphicon glyphicon-trash"></span>
        </button>
    </form>
{% endmacro %}
