.flask-admin-subview-preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    min-height: 4rem;
    z-index:100000;
}
